.App {
  text-align: center;
  background-color: #282c34;
}

.DropZone {
  background-color: #282c34;
  height: 40vh;
  width: 500px;
  margin: auto;
}

.DateTimeDropdown {
  position: relative;
  top: -20px;
  left: 200px;
  color: white;
}

.OfficeHoursBox {
  position: relative;
  top: 0px;
  left: -170px;

}

.OfficeHoursText {
  color: white;
}

.Body {
  background-color: #282c34;
  height: 40vh;
  width: 1500px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  padding-top: 20px;
}

.Footer {
  background-color: #282c34;
  height: 20vh;
}

.App-header {
  background-color: #282c34;
  height: 40vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 20px;
}

.App-link {
  color: #61dafb;
}

.Button {
  width: 400px;
  height: 200px;
  border-radius: 5%;
  font-size: calc(10px + 2vmin);
  cursor: pointer;
  background-color: black;
  justify-content: center;
  align-items: center;
  color: rgb(251, 239, 177);
}


